/* =========== RESET =========================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Roboto', sans-serif;
  background-image: linear-gradient(
    to right,
    hsla(245, 100%, 50%, 1),
    hsla(222, 79%, 48%, 1),
    hsla(227, 80%, 37%, 1),
    hsla(232, 83%, 14%, 1),
    hsla(245, 79%, 15%, 1)
  );
}
.divider-1 {
  height: 0.2px;
  background: #ebebeb;
}
.text-yellow {
  color: rgba(255, 206, 31, 1);
  font-size: 0.8rem;
  margin-bottom: 2.5rem;
  letter-spacing: 4px;
}
.text-yellow::before {
  content: ' ';
  background-color: rgba(255, 206, 31, 1);
  display: inline-block;
  height: 2px;
  width: 30%;
}

.tittle {
  color: rgba(235, 235, 235, 1);
  margin-bottom: 1rem;
  font-size: 1.875rem;
}
.bottom {
  background-color: rgba(255, 206, 31, 1);
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  transition: background 0.3s;
  /* position: relative;
  top: 4rem;
  left: 8rem; */
}
.bottom:hover {
  background-color: hsla(245, 79%, 15%, 1);
  display: inline-block;
  color: rgba(255, 206, 31, 1);
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
}
#header {
  position: fixed;
  width: 100%;
  background-image: linear-gradient(
    to right,
    hsla(245, 100%, 50%, 1),
    hsla(222, 79%, 48%, 1),
    hsla(227, 80%, 37%, 1),
    hsla(232, 83%, 14%, 1),
    hsla(245, 79%, 15%, 1)
  );
  z-index: 100;
}
#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.247);
}
.contact-grid {
  display: grid;
  grid-auto-flow: column;
  width: fit-content;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

/* =========== HEADER =========================== */
#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5.68rem;
  height: 6rem;
}

#header .logo img {
  height: 4rem;
}
#header nav .menu lu {
  list-style: none;
}

#header nav li {
  display: inline-flex;
  margin-left: 3.125rem;
  list-style: none;
  position: relative;
}
#header nav .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header nav .menu .bottom {
  margin-left: 3.125rem;
}
#header nav .menu a {
  font-size: 1rem;
}
.active,
#header nav .menu ul a:hover {
  color: rgba(255, 206, 31, 1);
}

#header nav .menu ul a::after {
  content: '';
  height: 2px;
  width: 0%;
  background-color: rgba(255, 206, 31, 1);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.2s;
}
#header nav .icon-menu,
#header nav .icon-close {
  display: none;
}
#header nav .menu ul a.active::after,
#header nav .menu ul a:hover::after {
  width: 100%;
}

#inicio {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  /*  margin-top: 5rem; */
  padding: 4rem;
}

#inicio .social {
  order: 1;
}
#inicio .text {
  order: 2;
  max-width: 27.25rem;
  /* margin-top: 5rem */
}

#inicio .text h1 {
  text-align: justify;
  font-size: 3.5rem;
  color: rgba(235, 235, 235, 0.644);
}
#inicio .text h1 span {
  color: rgba(235, 235, 235, 1);
}

#inicio .text a.bottom {
  margin-top: 2rem;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  border: 2px solid rgba(255, 206, 31, 1);
  font-weight: 700;
  font-size: 1.7rem;
}
#inicio .image {
  order: 3;
  max-width: 22rem;
  margin-right: 5rem;
}

#inicio .image h2 {
  text-align: right;
  color: rgba(235, 235, 235, 1);
}
#inicio .image h2::before {
  content: '+';
  color: rgba(255, 206, 31, 1);
}
#inicio .image img {
  width: 23rem;
}
#inicio .image p {
  color: rgba(235, 235, 235, 1);
  font-size: 1.1rem;
}
#inicio .image p span {
  color: rgba(255, 206, 31, 1);
}

#meio .cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem;
}
#meio .card {
  max-width: 18rem;
}
#meio .card img {
  display: block;
  margin: auto;
  margin-bottom: 1rem;
}
#card-3 img {
  width: 100px;
}
#meio .card h2 {
  text-align: justify;
  color: rgba(255, 206, 31, 1);
  margin-bottom: 0.5rem;
}
#meio .card p {
  text-align: justify;
  color: rgba(235, 235, 235, 1);
}
#meio .desenvolvimento {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding: 5rem;
  background-color: hsla(227, 80%, 37%, 1);
}
#meio .desenvolvimento .image {
  max-width: 30rem;
  font-size: 0.9rem;
}
#meio .desenvolvimento .image img {
  display: block;
  width: 14rem;
  margin: auto;
  margin-bottom: 2rem;
}

#meio .desenvolvimento .image p {
  color: rgba(235, 235, 235, 0.644);
  margin-bottom: 1rem;
}
#meio .desenvolvimento .text {
  max-width: 31rem;
  margin-top: 2rem;
  position: relative;
}

#meio .desenvolvimento .text p {
  color: rgba(235, 235, 235, 0.644);
  margin-bottom: 1rem;
  font-size: 0.9rem;
}
#meio .desenvolvimento .text p.text-yellow {
  color: rgba(255, 206, 31, 1);
  font-size: 0.8rem;
  margin-bottom: 2.5rem;
  letter-spacing: 4px;
}
#meio .desenvolvimento .text .bottom {
  position: relative;
  top: 4rem;
  left: 8rem;
}

#sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5rem;
}

#sobre .text {
  max-width: 26rem;
}

#sobre .text p {
  color: rgba(235, 235, 235, 0.644);
  margin-bottom: 1rem;
  font-size: 1rem;
  text-align: justify;
}
#sobre .text p.text-yellow {
  color: rgba(255, 206, 31, 1);
  font-size: 0.8rem;
  margin-bottom: 2.5rem;
  letter-spacing: 4px;
}
#sobre .text p strong {
  color: rgba(235, 235, 235, 1);
}
#sobre .text address {
  color: rgba(255, 206, 31, 1);
  font-weight: bold;
}
#sobre .text .bottom {
  margin-top: 3rem;
  margin-left: 6rem;
}
#sobre .text .bottom-2 {
  display: inline-block;
  background-color: hsla(223, 7%, 19%, 1);
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  transition: background 0.3s;
  margin-top: 4rem;
  margin-left: 3rem;
}
#sobre .text .bottom-2:hover {
  display: inline-block;
  background-color: hsla(245, 79%, 15%, 1);
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  transition: background 0.3s;
  margin-top: 4rem;
  margin-left: 3rem;
}
#sobre .image img {
  width: 27rem;
}

#contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem 5rem;
}
#contact .text {
  max-width: 34rem;
}
#contact .text h2 {
  font-size: 2.5rem;
}
#contact .text p {
  max-width: 28rem;
  font-size: 1.2rem;
  text-align: justify;
  color: rgba(235, 235, 235, 0.644);
}

#contact .text a {
  background: hsla(137, 88%, 38%, 1);
  display: inline-block;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-weight: 700;
  margin-top: 3rem;
  text-align: center;
}

#contact .contacts {
  margin-top: 2.5rem;
}

#contact .contacts p {
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-right: 5rem;
  font-weight: 700;
  color: rgba(235, 235, 235, 0.644);
}
#contact .contacts p span {
  color: rgba(235, 235, 235, 1);
}

#contact .contacts .contact-grid p {
  margin: 0;
}
#contact .contacts .contact-grid img#phone {
  width: 35px;
}

.container {
  margin: 0;
  background-color: hsla(47, 100%, 56%, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 5rem;
}

.container .brand img {
  margin-bottom: 1rem;
}
.container .brand p {
  margin-bottom: 0.5rem;
}

.container .social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .social p {
  margin-right: 2rem;
}
.container .social a {
  margin-left: 2rem;
  transition: 0.2s;
}
.container .social a:hover {
  transform: translateY(-3px);
}
.container .social a img#telegram {
  width: 75px;
}

@media (max-width: 510px) {
  #header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  #header .logo img {
    width: 8.125rem;
  }
  nav .menu {
    opacity: 0;
    visibility: visible;
    top: -20rem;
  }
  nav .menu ul {
    display: none;
  }

  /* mostrar menu*/

  #header nav.show .menu {
    opacity: 1;
    visibility: visible;
    background: hsla(47, 100%, 56%, 1);

    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    display: grid;
    place-content: center;
  }

  #header nav.show .menu ul {
    display: grid;
  }
  #header nav.show ul.grid {
    gap: 4rem;
  }
  #header nav.show .menu .bottom {
    margin: 0;
  }

  #header nav .icon-menu {
    font-size: 1.5rem;
    color: rgba(255, 206, 31, 1);
    display: block;
    visibility: visible;
    opacity: 1;
  }
  #header nav .icon-close {
    opacity: 0;
  }
}
